# This file contains developer-specific environment variables.
# The 'dev.local.env.example' version of this file is committed to the repository as a template.
# This file ('dev.local.env') is a copy for local development and is ignored by Git.
# You can safely modify this file with your local settings.

# These settings override app.env and db.local.env.

# --- Default developer settings ---

# --- Additional user-defined settings ---
